html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}

ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body {
	font: 18px/27px 'Open Sans', Arial, sans-serif;
	background: #e6e4e9;
}

footer{
	background: #a09ea2;
}

.creditos{
	font-size: 12px;
	padding: 1em;
	text-align: right;
}

.info{
	margin-top: 3.75em;
	background-image: url('../images/fff.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
	text-align: center;
	padding: 1.2em 0;

}

.Header-imageContainer{
	margin: 0;
}

.Header-image{
	border: 1px solid white;
	border-radius: 10px 10px 10px 10px;
	height: 200px;
	top:200px;
	left: 200px;
	right: 200px;

}

.Header-Description a{
	text-shadow: 1px 1px #000;
	text-decoration: none;
	color: #000;
}




.Profile{
	text-align: center;
	padding: 2em;
}


.u-title{
	color: #000;
	border-bottom: 2px dashed #00ccff;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	padding-bottom: .5em;
	text-shadow: 1px 1px #000;
}

span{
	font-size: 12px;
	color: #5c605c;
}

.Profile-link{
	background-color: #25e420;
	border: none;
	border-bottom: 3px solid #1fb81b;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	font-family: 'Lato',sans-serif;
	font-size: 19px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 1em;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


a:hover{
	color: #0f19a2;
}